<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Farnek&#x2007;Security</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>we want to know activity on mobile phone at working hours</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This is required to schedule jobs and timing</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow access to camera to capture photos for posting add related to properties</string>
	<key>NSContactsUsageDescription</key>
	<string>Service provider need contacts to contact customer</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We want your location to give you suggestions</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We want your location to show you feed</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Can We Use Your Microphone Please</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs to be able to access your motion use</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to photo library for posting add related to properties</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This is required while making order discusion with administration</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>yes</string>
</dict>
</plist>
